branches:
  only:
  - master
env:
  global:
  - GH_REF: github.com/brownplt/pyret-docs.git
  - RACKET_DIR: ~/racket
  - RACKET_VERSION: '6.5'
  - secure: LLFEGDikZDFTdkok/f+n31eoTx270xCQ89kuCdnAYZdPrfeecaLYJ2qZZwBKpXHilkIsVe0z0C/iUixptTAzYbRoyLf8heSP9FC+yOl10ZrKcEwDGxoGST2QeDbYMnPqvtJcRqFq7noYE0RqV/4nf9DqdggTK3Kd0Moi9/h+lbc=
  - secure: QUV2+be9MgwujoT3+2nVJaXEvoVL3osUBZlJHlXEMWGADUY3xzVCN4sH3a3K5W8iSP9CAL0ZTSYi/QJe1ixx/gKDQMG75NP52A+WiWOI04gwY+QScBkir4btKiHTZM+BgLYGpVuItqaQT9I86AHKiib1oi+2AsEOFnFs0mujbG4=
before_install:
- git clone https://github.com/greghendershott/travis-racket.git
- cat travis-racket/install-racket.sh | bash
- export PATH="${RACKET_DIR}/bin:${PATH}"
- raco pkg install frog
script: bash ./deploy.sh
