.cm-s-default.CodeMirror { color: black; }
.cm-s-default .cm-comment, .token.comment, .token.block-comment { color: #cd7054; }
.cm-s-default .cm-boolean, .token.boolean { color: darkred; }
.cm-s-default .cm-builtin, .token.punctuation .token.operator { color: #555; }
.cm-s-default .cm-function-name, .token.function-name, .token.function { color: #374049; }
.cm-s-default .cm-variable, .token.variable { color: #4d5966; }
.cm-s-default .cm-keyword, .token.keyword { color: black; font-weight: bold; }
.cm-s-default .cm-number, .token.number { color: navy; }
.cm-s-default .cm-roughnum { color: blue; }
.cm-s-default .cm-bad-number { color: red; font-weight: bold; }
.cm-s-default .cm-string, .token.string { color: forestgreen; }
.cm-s-default .cm-unterminated-string { color: red; font-weight: bold; }
.cm-s-default .cm-type { color: #374049; }


